html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    background-color: antiquewhite;
}

.container {
    width: 375px;
    margin: 0 auto;
    background: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid#C6C6C6;
    
}

/* Images and avatars */
.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50px;
}

.main-logo {
    width: 127px;
}

.post-image {
    width: 375px;
}

/* Action buttons */
.comment-section{
   padding: 20px 10px;
   border-bottom: 10px solid whitesmoke;
}
.actions{
    width: 104.34px;
    display: flex;
    justify-content: space-between;
    
}

.icon-one {
    width: 23.3px;
    height: 22.13px;
}
.icon-two {
    width: 18.65px;
    height: 18.65px;
}
.icon-three {
    width: 22.38px;
    height: 18.65px;
}

/* User information and header */

.user-info {
    display: flex;
    padding: 11px 10px;
}

/* Text */
.strong {
    font-weight: 700;
    font-size: 13px;
}

.user-info p{
    margin: 0px;
    padding-left: 7px;
}
 .comment-section p {
    font-size: 13px;
 }